# Conexión a PostgreSQL local.
# Reemplazá TU_PASSWORD en tu archivo .env.
DATABASE_URL="postgresql://postgres:TU_PASSWORD@127.0.0.1:5432/miniblog-api"

# Puerto de la API.
PORT=3000

# Entorno local.
NODE_ENV=development